.imageBtn-left {
    /* position: absolute;
    top: 100%;
    margin-left: -6px; */
    /* transform: translate(12%, -5%); */
    /* -ms-transform: translate(-50%, -50%); */
    background-color: #555;
    color: white;
    /* font-size: 16px; */
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.imageBtn-right {
    /* position: absolute;
    top: 104%;
    margin-left: -29px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); */
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.mySlides {
    width: 350px;
    height: 300px;
}

.productDetails img {
    width: 60px;
    height: 60px;
    border: 1px solid;
    margin: 0px;
}
.productDetails2 img {
    width: 60px;
    height: 60px;
    border: 1px solid;
    margin: 0px;
}


.productDetails2{
    margin-left: 110px;
    margin-top: 30px;
}

.productDetails1 img {
    width: 200px;
    height: 200px;
    border: 1px solid;
    margin: 0px;
}

.productDetails img:hover {
    opacity: .5;
    cursor: pointer
}